{% extends "layout/base.njk"%}
{%block title %}{{ title }}{%endblock%}
    {% block body %}
        <main>
            <header>
                <div class="home_heading">
                    <div class="logo">
                        <a href = "/home">Y-share</a>
                    </div>
                    <div class="user__count">
                        <div class="entered user_section">
                            <div id="status__green" class="status"></div>
                            <p>10 users</p>
                        </div>
                        <div class="waiting user_section">
                            <div id="status__white" class="status"></div>
                            <p>5 waiting</p>
                        </div>
                    </div>
                </div>
            </header>
            <div class="dynamic__content">
            <div class="gradient__fill"></div>
                <ul id="dy__ul">
                    {% for d in data %}
                        <li>
                            <div {% if d.type == 'text' %} class="text__post post" {% elif d.type == 'link' %} class="link__post post" {% elif d.type == 'img' %} class="link__post post" {% endif%} >
                                {% if d.type == 'text' %} <p class="yp_content">{{ d.post }}</p> {% elif d.type == 'link' %} <a href="{{d.post}}" class="yp_content">{{ d.post }}</a> {% elif d.type == 'img' %} <p class="yp_content">{{d.post | truncate(60)}}</p>  {% endif%}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </main>

    {% endblock %}

    {% block footer %}
        {% include "layout/interactionPanel.njk" %}
    {% endblock %}