{% extends "layout/base.njk"%}

{%block title %}{{ title }}{%endblock%}
    {% block body %}
    <div class="home__content">
    <div class="title">
        <h1>
            {{ title }}
        </h1>
    </div>
    <a href="/home">enter</a>
    </div>
    
    {% endblock %}